@import '../../../shared/scss/variables.scss';

.product__container {
  .product__info {
    &--item {
      p {
        margin: 0;
        padding: 0 10px;
      }

      .product {
        font-weight: bold;
      }
      .product__input {
        background-color: $form-color;
        padding: 10px 0 10px 10px;
        margin-top: 5px;
        margin-bottom: 15px;
      }
    }
  }
}
.product__action {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;

  button {
    padding: 10px 15px;
    width: 50%;
    font-size: 20px;
    letter-spacing: 1px;
    background-color: $secondary-color;
    color: $primary-color;
    border: 1px solid $primary-color;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
  }

  .edit {
    &:hover {
      background-color: $primary-color;
      color: $terciary-color;
    }
  }

  .delete {
    background-color: $error;
    color: $terciary-color;

    &:hover {
      background-color: $terciary-color;
      color: $error;
    }
  }
}
