.barware__content {
  position: relative;

  .back {
    position: absolute;
    top: 7px;
    left: -100px;
  }

  .barware__title {
    font-size: 40px;
    text-transform: uppercase;
  }
}
