@import '../../../shared/scss/variables.scss';

.footer__container {
  .footer__content {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
    background-color: $primary-color;

    &--info {
      &__title {
        color: $terciary-color;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: 400;
      }

      &__list {
        padding: 0;
        color: $secondary-color;
        list-style: none;

        &-item {
          padding: 10px 0;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-size: 14px;
          cursor: pointer;

          &:hover {
            color: $terciary-color;
            text-decoration: underline;
            text-underline-offset: 5px;
          }
        }
      }
    }

    &--showroom {
      display: flex;
      justify-content: space-between;

      width: 500px;

      &__location {
        img {
          width: 300px;
          height: 300px;
        }
      }

      &__address {
        padding-left: 20px;
        &-title {
          color: $terciary-color;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-weight: 400;
        }
        &-visit,
        &-text,
        &-days,
        &-hours {
          color: $secondary-color;
        }
      }
    }

    &--explore {
      .faq {
        color: $terciary-color;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 400;
        cursor: pointer;
        text-align: center;
      }

      .socials {
        width: 100px;
        display: flex;
        justify-content: space-evenly;
        cursor: pointer;
      }
    }
  }
}
