@import '../../../shared/scss/variables.scss';

.about__container {
  margin: 80px 0;
  padding: 0 240px;

  .about__title {
    font-size: 60px;
    font-weight: 300;
  }

  .about__description {
    margin-bottom: 20px;
    line-height: 150%;
  }
}
