@import '../../../shared/scss/variables.scss';

.product__content {
  position: relative;

  .back {
    position: absolute;
    top: 7px;
    left: -100px;
  }

  .product__title {
    font-size: 40px;
    text-transform: uppercase;
  }
}

.product__error {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1,
  h3 {
    color: $primary-color;
  }
}
