@import '../../../shared/scss/variables.scss';

.adminlist__item {
  transition: all 0.2s ease;
  .list__item {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    .list__image {
      img {
        width: 80px;
        height: 80px;
        object-fit: contain;
      }
    }
    .list__info {
      width: 75%;
      background-color: $form-color;
      padding-left: 10px;

      p {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      .list__class {
        font-weight: bold;
        text-transform: uppercase;
        font-weight: 600;
      }
    }
  }

  &:hover {
    transform: scale(1.05);
  }
}
